<head>
		<title>{{page.title}} - Peizhi Shi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="google-site-verification" content="ctkjGiyHSXTAlo_ChF1RzjRGXgjVqlyLNvFTdRKwp80" />
		
                <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
		<link rel="icon" href="{{"assets/images/favicon.ico"| relative_url }}">
		<script src="https://kit.fontawesome.com/3c119cd3ec.js" crossorigin="anonymous"></script>
		
	</head>
