---
layout: default
---
{% assign post = page %}
{% assign link_visible = false %}
{% assign display_authors = true %}
{% include achieve_paper_title.html %}

{% if page.abstract %}
<p></p>
<p><b>Abstract</b>: {{page.abstract}}</p>
{% endif %}

{% if page.keywords %}
<p></p>
<p><b>Index Terms</b>: {{page.keywords}}</p><br/>
{% endif %}


{% if page.doi %}
<strong><i class="fas fa-link" style="color:rgb(66,133,244)"></i></strong> &nbsp; <a href={{ page.doi}}>Doi</a>&emsp;&emsp;
{% endif %}

{% if page.github %}
<strong><i class="fab fa-github"></i></strong> &nbsp; <a href={{ page.github}}>Github</a>&emsp;&emsp;
{% endif %}

{% if page.pdf %}
<strong><i class="fas fa-file-pdf" style="color:rgb(209,21,22)"></i></strong> &nbsp; <a href={{ page.pdf}}>Pdf</a>&emsp;&emsp;
{% endif %}

{% if page.demo %}
<strong><i class="fas fa-file-video" style="color:rgb(66,133,244)"></i></strong> &nbsp; <a href={{ page.demo}}>Demo</a>&emsp;&emsp;
{% endif %}

